html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    bottom: 0;
    height: 50px;
}
/*
.row {
    margin:0;
    padding-top:60px;
    margin-top: -60px;
}
*/
#map0, #map1, #map2 {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar{
	margin-bottom: 0;
    position: relative;
}

.navbar-brand h2 {
    margin: 0;
    margin-top: -10px;
}

.navbar-form {
    padding-right: 0px;
}
/*
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav>li>.dropdown-toggle {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}
*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}



.maps {
    height:100%;
    margin:0;
    padding-top:60px;
    margin-top: -60px;
    padding-bottom: 25px;
}

.map-wrapper{
    height: 100%;
    padding: 3px 1.5px;
}

.map {
    height:100%;

}

div.map > h2 {
    margin: 0.25em auto 0px auto;
    position: relative;
    text-align:center;
    text-shadow: 2px 2px 2px #333333;
    text-outline: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #FFFFFF;
    z-index: 500;
}

.leaflet-bottom {
  display: none;
}

.sidebar {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}
.iwindow-title{
    text-align: center;
}

.iwindow {
    height: 150px;
    text-align: center;
    padding: 20px 10px;
}
.iwindow>p{
    font-size: 1.33em;
}
.rollwindow{
    height: 50px;
}

.lwrapper{
    position: absolute;
    bottom: 3%;
    left: 5%;
    right: 5%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 2px;
}
.legend {
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.slider_time {
	width: 200px;
	height: 30px;
}

#slider {
	width:300px;
}

#drop_down_z_index{
    z-index:9999;
}



/* #small_display{
    display:none;
}*/



/*@media(max-width:992px){


    #small_display{
        display:inline-block;
    }
    #map1{
        display:none;
    }
    #map2{
        display:none;
    }

    #sidebar{
        display: inline-block;
    }
}*/

/*@media(min-width:768px){
    #small_display{
        display:block;
    }
    #map0{
        display:inline-block;
    }
    #map1{
        display:inline-block;
    }
    #map2{
        display:inline-block;
    }
}
@media(min-width:992px){
    #map0{
        display:inline-block;
    }
    #map1{
        display:inline-block;
    }
    #map2{
        display:inline-block;
    }
}*/

/*@media(min-width:993px){

    #map0{
        display:inline-block;
    }
    #map1{
        display:inline-block;
    }
    #map2{
        display:inline-block;
    }


}
*/
/*** isse #62 this was to fix overscreen dropdown ***/
.dropdown.open ul{

    right:0px;
}

.dropdown.open:first-child ul{

    right:inherit;
}

.highlight{
    background-color:yellow;
}
