html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer {
    bottom: 0;
    height: 50px;
}
/*
.row {
    margin:0;
    padding-top:60px;
    margin-top: -60px;
}
*/
#map0, #map1, #map2 {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar{
	margin-bottom: 0;
    position: relative;
}

.navbar-brand h2 {
    margin: 0;
    margin-top: -10px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        padding-right: 0px;
    }
    .navbar-form {
        padding-right: 0px;
    }
}

/*
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav>li>.dropdown-toggle {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}
*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}



.maps {
    height:100%;
    margin:0;
    margin-top: -60px;
    padding-top: 60px;

}
@media (max-width: 995px) {
    .maps {
        margin-top: -100px;
        padding-top: 100px;
    }
}

.map-wrapper{
    height: 100%;
    padding: 3px 1.5px;
}

.map {
    height:100%;

}

div.map > h2 {
    margin: 0.25em auto 0px auto;
    position: relative;
    text-align:center;
    text-shadow: 2px 2px 2px #333333;
    text-outline: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #FFFFFF;
    z-index: 500;
}

.leaflet-bottom {
  display: none;
}

.sidebar {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}
.iwindow-title{
    text-align: center;
}

.iwindow {
    height: 150px;
    text-align: center;
    padding: 20px 10px;
}
.iwindow>p{
    font-size: 1.33em;
}

.iwindow-vals{
    text-align: left;
}
.iwindow-tract{
    text-align: left;
    padding-top: 25px;
}

.iwindow ul {
    margin-top: 20px;
    list-style: none;
}

.swatch {
    border: 1px solid black;
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.change {
    font-size: x-small;
    padding-left: 20px;
}
/*
.increase {
    color: green;
}

.increase:before {
    content: "⬆";
}

.decrease {
    color: red;
}

.decrease:before {
    content: "⬇";
}
*/
.glyphicon-arrow-up{
    color: green;
}
.glyphicon-arrow-down{
    color: red;
}
.lwrapper{
    position: absolute;
    bottom: 3%;
    left: 5%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 2px;
}
.legend {
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.slider_time {
	width: 200px;
	height: 30px;
}

#slider {
	width:300px;
}

#drop_down_z_index{
    z-index:9999;
}



/*** isse #62 this was to fix overscreen dropdown ***/

.open>ul
{

    right:0;
    left: auto;
}
.dropdown.open:first-child ul{

    right:inherit;
}

.highlight{
    background-color:yellow;
}


.map-group {
    position: relative;
    height: 100%;
}

.map-segment {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 33%;
}



.map-segment.first {
    left: 0;
}
.map-segment.second {
    left: 33%;
}
.map-segment.third {
    left: 66%;
}



@media(max-width:990px){


    .map-segment.first,
    .map-segment.second,
    .map-segment.third {
        position: absolute;
        top:0;
        left: -100%;
        height: 100%;
        width: 100%;
    }
    .map-segment.first.active,
    .map-segment.second.active,
    .map-segment.third.active {
        left: 0;
    }

}




.sidebar-wrapper .nav-tabs .dropdown{
    width: 33%;
}
.sidebar-wrapper .sidebar-toggle {
    display: none;
}
@media(max-width:768px){
    .sidebar-wrapper {
        position: absolute;
        width: 100%;
        right: 0;
        top: 100%;
        height: 70%;
        z-index: 1000;
        transition: top 350ms ease-in-out;
    }
    .sidebar-wrapper.active {
        top: 30%;
    }
    .sidebar-wrapper .sidebar-toggle {
        display: block;
        position: absolute;
        left: 0;
        border: none;
        background-color: #F5F5F5;
        padding: 20px;
        top: -55px;
        width: 100%;
    }

    .lwrapper {
        left: auto;
        right: 2%;
    }
    .iwindow-title {
        text-align: left;
    }
    .iwindow {
        text-align: left;
        width: 50%;
    }
}
